<h1>New User</h1>
<form action="/users" method="post">
	<label for="user_clashtag">ClashTag:</label>
	<input id="user_clashtag" name="User[ClashTag]" size="30" type="text" /><br />
	<label for="user_points">Points:</label>
	<input id="user_points" name="User[Points]" size="30" type="number">
	<input name="commit" type="submit" value="Create User">
</form>