<section class="New User"><header><h1>Welcome!</h1></header>
<p>As a new user, we need to get some basic information from you!</p>
<form action="/users" method="post">
	<label for="user_clashtag">What do you want your ClashTag to be? (this will be how everybody across the site will see you):</label>
	<input id="user_clashtag" name="User[ClashTag]" size="30" type="text" /><br />
	<input id="authorization_type" name="User[Authorization][Type]" value="{{.authorization}}" type="hidden">
	<input id="authorization_id" name="User[Authorization][ID]" value="{{.auth_id}}" type="hidden">
	<input id="authorization_access" name="User[Authorization][Access]" value="{{.access}}" type="hidden">
	<input id="authorization_type" name="User[Authorization][Refresh]" value="{{.refresh}}" type="hidden">
	<input id="authorization_expiry" name="User[Authorization][Expiry]" value="{{.expiry}}" type="hidden">
	<input name="commit" type="submit" value="Create User">
</form>
</section>