<h1>{{.User.ClashTag}}</h1>
<p>{{.User.Points}} points</p>
{{if .User.IsFriend .CurrentUser.ClashTag}}
	<p>You are friends</p>
	<form action={{.User.Url}} method="post">
		<input type="hidden" name="_method" value="put" />
		<input type="hidden" name="Action" value="Unfriend" />
		<input type="submit" value="Unfriend this bitch" />
	</form>
{{else}}
	{{if .User.HasRequest .CurrentUser.ClashTag}}
		<p>Friend Request Sent</p>
	{{else}}
		<form action={{.User.Url}} method="post">
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="Action" value="FriendRequest" />
			<input type="submit" value="Add Friend" />
		</form>
	{{end}}
{{end}}
{{if .User.Lodges}}
	<section class="lodges"><header><h1>Lodges</h1></header>
		<p>You are a Mason in the following lodges:</p>
		<ul>
			{{range .User.Lodges}}
				<li><a href="/lodges/{{.}}">{{.}}</a></li>
			{{end}}
		</ul>
	</section>
{{end}}